# Dependencies
node_modules/
.pnp
.pnp.js

# Builds
dist/
build/
*.tsbuildinfo

# Env / secrets
.env
.env.local
.env.*.local
*.env

# Prisma
prisma/migrations/dev.db*

# Logs
logs/
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Coverage / tests
coverage/

# Uploads (arquivos enviados em dev — disco local)
apps/api/uploads/

# OS / editor
.DS_Store
Thumbs.db
.idea/
.vscode/*
!.vscode/extensions.json

# React Native (futuro)
apps/mobile/.expo/
apps/mobile/android/
apps/mobile/ios/Pods/
